*{margin:0;padding:0;box-sizing:border-box;font-size:0;} 
.logo{
    
    padding: 0%;
    margin: 0%;
    width: 100%;

}
body{
    background-image: url(textura4.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}
nav{
    background-color: palevioletred;
    margin-left: 200px;
    position: absolute;
    width: 1165px;
}
nav a {
    
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT';
    color: black;
}
nav li{
    display: inline-block;
    width: 233px;
    height: 50px;
    padding: 15px;
    text-align: center;
    position: relative;
    background-color: rgba(231, 157, 130, 0.753);
    
    
}
nav li:hover{
    background-color: coral;
}

.sidebar{
    margin-left: 0%;
    margin-top: 0px;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow:auto;
    background-image: url(textura5.jpg);
}
.redes{
    margin-top: 250px;
    content: "lsdjasdjasdjasdsada";
}
